body {
    margin: 0;
}

.content {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 140px 60px;
}

@media screen and (max-width: 1254px) {
    .content {
        max-width: 1094px;
        padding: 0 60px 60px;
    }   
}

@media screen and (max-width: 1154px) {
    .content {
        max-width: 1074px;
        padding: 0 40px 40px;
    }   
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 5px 10px #888888;
    padding: 10px 60px;
}

.header_left {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header_title {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    color: #1A2421;
    margin: 0;
    padding: 0;
}

.header_image {
    width: 50px;
    height: 50px;
    border-radius: 49%;
    margin-right: 25px;
}

.header_links {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

.header_link {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #1A2421;
    text-decoration: none;
    text-transform: uppercase;
}

.header_link:hover {
    color: #faa805;
}

.section_title {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 400;
    color: #1A2421;
    text-decoration: none;
    text-transform: uppercase;
    padding: 100px 0 50px;
    margin: 0;
    text-align: center;
}

.about_text {
    color: #1A2421;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    margin: 0;
    /* padding: 0 50px; */
    text-align: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 20px;
    margin: 0 auto;
    padding: 0;
}

.project {
    /* max-width: 370px;
    max-height: 240px; */
    position: relative;
    box-shadow: 0 5px 10px #888888;;
}

.project_image {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;

}

.project_background {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    color: #1A2421;
    padding: 20px;
}

.project:hover .project_image {
    opacity: 0.1;
}

.project:hover .project_background {
    opacity: 1;
}

.project_skills {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: auto;
}

.project_skill {
    display: block;
    float: left;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 2px 5px;
    padding: 2px 5px;
    background-color:#faa805;
    border-radius: 2px 15px;
}

.project_title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    margin: 0;
    padding-left: 10px;
    border-left: 5px solid #faa805;
}

.project_subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 5px 0 20px;
}

.project_link {
    color: #1A2421;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;  
    text-decoration: none; 
    margin: 0;
}

.project_link:hover {
    color: #faa805;
}

.contact_text {
    color: #1A2421;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    margin: 0;
    text-align: center;
}

.contact_links {
    text-align: center;
    margin-top: 20px;
}

.contact_link {
    position: relative;
    color: #1A2421;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    text-decoration: none;
    padding-left: 20px;
}

.contact_link::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    border-left: 2px solid #faa805;
    transform: skewX(-15deg);
    margin-left: -10px;
}

.contact_link:hover {
    color: #faa805;
}

.contact_mail {
    color: #1A2421;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

.footer {
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 5px 10px #888888;
    padding: 10px 60px;
}

.footer_copyright {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #1A2421;
    margin-top: 15px;
    text-align: center;
}
